<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135119080-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135119080-1');
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="apple-mobile-web-app-capable" content="yes">

<title><?=$page->title?></title>
<meta name="description" content="<?=$page->description?>">

<meta name="theme-color" content="#111111">

<link rel="icon" type="image/png" href="/themes/<?=THEME?>/images/favicon.png">

<!-- ~~~ Favicon Iconset ~~~ -->
<!--
<link rel="icon" type="image/png" sizes="32x32" href="/themes/<?=THEME?>/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/themes/<?=THEME?>/images/favicon-16x16.png">
<link rel="mask-icon" href="/themes/<?=THEME?>/images/safari-pinned-tab.svg" color="#000000">

<link rel="apple-touch-icon" href="/themes/<?=THEME?>/images/apple-touch-icon.png">

-->

<link rel="icon" type="image/png" href="/themes/<?=THEME?>/images/icons/logo-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/themes/<?=THEME?>/images/icons/logo-32x32.png" sizes="32x32">

<!-- Home screen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#101010">
<meta name="apple-mobile-web-app-title" content="Goal Report">

<link rel="apple-touch-icon" href="/themes/<?=THEME?>/images/icons/logo-60x60.png"   sizes="60x60">
<link rel="apple-touch-icon" href="/themes/<?=THEME?>/images/icons/logo-72x72.png"   sizes="72x72">
<link rel="apple-touch-icon" href="/themes/<?=THEME?>/images/icons/logo-76x76.png"   sizes="76x76">
<link rel="apple-touch-icon" href="/themes/<?=THEME?>/images/icons/logo-114x114.png" sizes="114x114">
<link rel="apple-touch-icon" href="/themes/<?=THEME?>/images/icons/logo-120x120.png" sizes="120x120">
<link rel="apple-touch-icon" href="/themes/<?=THEME?>/images/icons/logo-144x144.png" sizes="144x144">
<link rel="apple-touch-icon" href="/themes/<?=THEME?>/images/icons/logo-152x152.png" sizes="152x152">
<link rel="apple-touch-icon" href="/themes/<?=THEME?>/images/icons/logo-180x180.png" sizes="180x180">

<!-- WINDOWS -->
<meta name="msapplication-TileImage" content="/themes/<?=THEME?>/images/icons/icon-144x144.png">
<meta name="msapplication-TileColor" content="#101010">

<meta property="fb:pages" content="<?=$config->{'fb:pages'}?>">
<meta property="fb:app_id" content="<?=$config->{'fb:app_id'}?>">

<meta property="og:url" content="<?=$page->canonical?>">
<meta property="og:title" content="<?=$page->header?>">
<meta property="og:type" content="website">
<meta property="og:description" content="<?=$page->description?>">

<meta property="og:site_name" content="<?=$page->SiteName?>">

<?php
$cover_url = parse_url($page->landscape);

$preview = getimagesize("../".explode('.',$cover_url['host'])[0]."/".$cover_url['path'])
?>
<meta property="og:image" content="<?=$page->landscape?>">
<meta property="og:image:type" content="<?=$preview['mime']?>">
<meta property="og:image:height" content="<?=$preview[1]?>">
<meta property="og:image:width" content="<?=$preview[0]?>">

<style>
<?foreach(array_map("pathinfo", glob("fonts/*.{otf,ttf}", GLOB_BRACE)) as $file):?>
@font-face{
	font-family:'<?=str_replace("-", " ", $file['filename'])?>';
	src:url(/<?=($file['dirname']."/".$file['basename'])?>) format('<?=["otf"=>"opentype","ttf"=>"truetype"][$file['extension']]?>');
}
<?endforeach?>
</style>
<link type="text/css" rel="stylesheet" href="/themes/<?=THEME?>/styles/index.css?3">
<link type="text/css" rel="stylesheet" href="/themes/<?=THEME?>/styles/feed.css">
<link type="text/css" rel="stylesheet" href="/themes/<?=THEME?>/styles/content.css">

<?if(ADS):?>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
	google_ad_client:"<?=$config->google_ad_client?>",
	enable_page_level_ads: true
});
</script>
<?endif?>

<script>
var ADS = <?=(INT)ADS?>,
		LANGUAGE = "<?=USER_LANG?>";
	var PAGEID = "<?=$page->PageID?>";
	var OFFSET = 20;
new function(){
	var analytics = this;
	analytics.XHR = new XMLHttpRequest();
	var params = { PageID:PAGEID, input:Date.now() }
	window.onbeforeunload = function(){
		params['output'] = Date.now();
		analytics.XHR.open("POST", "/ajax/analytics/"+(session.open() ? 1 : 0), false);
		analytics.XHR.setRequestHeader("Content-Type", "application/json");
		analytics.XHR.send(JSON.stringify(params));
	}
}
</script>

<!--<script type="text/javascript" defer src="//assets.pinterest.com/js/pinit.js"></script>-->
<script defer id="facebook-jssdk" src="//connect.facebook.net/ru_RU/sdk.js" onload="
window.fbAsyncInit = FB.init({
	appId:<?=$config->{'fb:app_id'}?>,
	xfbml:true,
	cookie:true,
	status:true,
	version:'v3.2'
})"></script>

<script src="/js/C-Lab.js" defer></script>
<script src="/themes/<?=THEME?>/scripts/main.js?1"></script>

<?foreach($page->schemes as $schema):?>
<script type="application/ld+json"><?=stripcslashes(JSON::encode($schema))?></script>
<?endforeach?>

<!--<link rel="manifest" href="/manifest.json">-->